:root {
  --sky-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --selective-yellow: hsla(43, 100%, 51%, 1);
  --ut-orange: hsla(32, 100%, 49%, 1);

  --marginSpace: 0.3rem;
  --footer-font-size: 1.2rem;

  --small-br: 5px;
  --med-br: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--sky-blue);
  font-family: sans-serif;
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 75px auto max-content;
}

header {
  background-color: var(--prussian-blue);
}

footer {
  background-color: var(--prussian-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  padding: 20px;

  font-size: var(--footer-font-size);
}

footer img {
  height: calc(var(--footer-font-size) - 0.2rem);
}

footer a {
  margin-left: var(--marginSpace);
  color: var(--ut-orange);
}

footer img:hover {
  scale: 1.2;
}

footer img:active {
  scale: 1;
}

.copyright-container {
  margin-bottom: var(--marginSpace);
}

.red {
  color: red;
}
