:root {
  --sky-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --selective-yellow: hsla(43, 100%, 51%, 1);
  --ut-orange: hsla(32, 100%, 49%, 1);

  --sky-blue-o75: hsla(199, 64%, 73%, 0.75);
  --blue-green-o75: hsla(192, 70%, 43%, 0.75);
  --prussian-blue-o75: hsla(200, 95%, 14%, 0.75);
  --selective-yellow-o75: hsla(43, 100%, 51%, 0.75);
  --ut-orange-o75: hsla(32, 100%, 49%, 0.75);

  --previous-view-bg-clr: none;

  --marginSpace: 0.3rem;
  --footer-font-size: 1rem;

  --small-br: 5px;
  --med-br: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--sky-blue);
  font-family: sans-serif;
  background: url("./components/Main/images/main-bg.jpg");
  background-size: cover;
}

main {
  display: grid;
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 75px auto max-content;
}

header {
  width: 100%;
  background-color: var(--prussian-blue-o75);
  display: grid;
  grid-template-columns: 75%;
  justify-content: center;
  align-items: end;
  /* padding: 15px; */
}

nav {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

@keyframes nav-button-animation-A {
  100% {
    background-color: var(--selective-yellow-o75);
  }
}
@keyframes nav-button-animation-B {
  100% {
    background-color: var(--blue-green-o75);
  }
}

@keyframes nav-button-animation-C {
  100% {
    background-color: var(--selective-yellow-o75);
  }
}

@keyframes nav-button-animation-D {
  100% {
    background-color: var(--blue-green-o75);
  }
}

.nav-button {
  background-color: rgba(211, 211, 211, 0.75);
  text-align: center;
  padding: 3px;
  border-radius: var(--small-br) var(--small-br) 0 0;
  cursor: pointer;
  transition: 0.2s;
}

.nav-button:active {
  transform: scaleX(0.98);
}

/* .active-view-btn {
  background-color: var(--sky-blue);
} */

footer {
  background-color: var(--prussian-blue);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  color: white;

  padding: 20px;

  font-size: var(--footer-font-size);
}

footer img {
  height: calc(var(--footer-font-size) - 0.2rem);
}

footer a {
  margin-left: var(--marginSpace);
  color: var(--ut-orange);
}

footer img:hover {
  scale: 1.2;
}

footer img:active {
  scale: 1;
}

.attributions-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--ut-orange);
}

.attributions-container {
  text-align: center;
  font-size: 0.6rem;
  list-style-type: none;
}

.attributions-list {
  list-style-type: none;
}

.red {
  color: red;
}

.view {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

@keyframes view-animation-A {
  100% {
    background-color: var(--selective-yellow-o75);
  }
}

@keyframes view-animation-B {
  100% {
    background-color: var(--blue-green-o75);
  }
}

@keyframes view-animation-C {
  100% {
    background-color: var(--selective-yellow-o75);
  }
}

@keyframes view-animation-D {
  100% {
    background-color: var(--blue-green-o75);
  }
}

/* UTILITY CLASSES */
.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.un-selectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
